[submodule "tools/rv"]
	path = tools/rv
	url = https://github.com/cdl-saarland/rv.git
	branch = necllvm
[submodule "tools/clang"]
	path = tools/clang
	url = https://github.com/SXAuroraTSUBASAResearch/clang.git
[submodule "projects/compiler-rt"]
	path = projects/compiler-rt
	url = https://github.com/SXAuroraTSUBASAResearch/compiler-rt.git
