[submodule "tools/rv"]
	path = tools/rv
	url = https://github.com/cdl-saarland/rv.git
	branch = necllvm
[submodule "tools/clang"]
	path = tools/clang
	url = https://github.com/sx-aurora-dev/clang.git
	branch = develop2
[submodule "projects/compiler-rt"]
	path = projects/compiler-rt
	url = https://github.com/sx-aurora-dev/compiler-rt.git
	branch = develop2
